root = true

# C# files
[*.cs]


#### Core EditorConfig Options ####

# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4

# New line preferences
insert_final_newline = true


#### .NET Coding Conventions ####

# Organize usings
dotnet_separate_import_directive_groups = false
dotnet_sort_system_directives_first = false
file_header_template = unset

# this. and Me. preferences
dotnet_style_qualification_for_event = false:silent
dotnet_style_qualification_for_field = false:silent
dotnet_style_qualification_for_method = false:silent
dotnet_style_qualification_for_property = false:silent

# Language keywords vs BCL types preferences
dotnet_style_predefined_type_for_locals_parameters_members = true:silent
dotnet_style_predefined_type_for_member_access = true:silent

# Parentheses preferences
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:silent
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:silent

# Modifier preferences
dotnet_style_require_accessibility_modifiers = for_non_interface_members:silent

# Expression-level preferences
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_object_initializer = true:suggestion
dotnet_style_operator_placement_when_wrapping = beginning_of_line
dotnet_style_prefer_auto_properties = true:silent
dotnet_style_prefer_compound_assignment = true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment = true:silent
dotnet_style_prefer_conditional_expression_over_return = true:silent
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion
dotnet_style_prefer_simplified_boolean_expressions = true:suggestion
dotnet_style_prefer_simplified_interpolation = true:suggestion

# Field preferences
dotnet_style_readonly_field = true:suggestion

# Parameter preferences
dotnet_code_quality_unused_parameters = all:suggestion

# Suppression preferences
dotnet_remove_unnecessary_suppression_exclusions = none


#### C# Coding Conventions ####

# I considered, instead of modifying the severity of the items below to `none',
# modifying the "preference" of specific code style options, such as
# `csharp_style_prefer_switch_expression = false' or `csharp_prefer_braces = false'.
# But these do not appear to be respect in macOS Visual Studio (as of 8.10.8).

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = none

# IDE0010: Add missing cases
dotnet_diagnostic.IDE0010.severity = none

# IDE0011: Add braces
dotnet_diagnostic.IDE0011.severity = none

# IDE0039: Use local function
dotnet_diagnostic.IDE0039.severity = none

# IDE0046: Convert to conditional expression
dotnet_diagnostic.IDE0046.severity = none

# IDE0056: Use index operator
dotnet_diagnostic.IDE0056.severity = none

# IDE0057: Use range operator
dotnet_diagnostic.IDE0057.severity = none

# IDE0066: Convert switch statement to expression
dotnet_diagnostic.IDE0066.severity = none

# IDE0078: Use pattern matching
dotnet_diagnostic.IDE0078.severity = none

# CA1002: Do not expose generic lists
dotnet_diagnostic.CA1002.severity = none

# CA1014: Mark assemblies with CLSCompliantAttribute
dotnet_diagnostic.CA1014.severity = none

# CA1062: Validate arguments of public methods (selective exclusions)
dotnet_code_quality.CA1062.exclude_extension_method_this_parameter = true
dotnet_code_quality.CA1062.excluded_symbol_names = Visit*|Apply|RewriteTree

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# CA1715: Identifiers should have correct prefix
dotnet_diagnostic.CA1715.severity = none

# CA1716: Identifiers should not match keywords (overruled by naming rules)
dotnet_diagnostic.CA1716.severity = none


#### C# Formatting Rules ####

# New line preferences
csharp_new_line_before_catch = true
csharp_new_line_before_else = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_open_brace = all
csharp_new_line_between_query_expression_clauses = true

# Indentation preferences
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents = true
csharp_indent_case_contents_when_block = true
csharp_indent_labels = one_less_than_current
csharp_indent_switch_labels = true

# Space preferences
csharp_space_after_cast = false
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_after_comma = true
csharp_space_after_dot = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_after_semicolon_in_for_statement = true
csharp_space_around_binary_operators = before_and_after
csharp_space_around_declaration_statements = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_before_comma = false
csharp_space_before_dot = false
csharp_space_before_open_square_brackets = false
csharp_space_before_semicolon_in_for_statement = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_parentheses = false
csharp_space_between_square_brackets = false

# Wrapping preferences
csharp_preserve_single_line_blocks = true
csharp_preserve_single_line_statements = true


#### Naming styles ####

# Naming rules

dotnet_naming_rule.interface_should_be_begins_with_i.severity = suggestion
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.private_data_members_should_be_pascal_case_double_underscore.severity = suggestion
dotnet_naming_rule.private_data_members_should_be_pascal_case_double_underscore.symbols = private_data_members
dotnet_naming_rule.private_data_members_should_be_pascal_case_double_underscore.style = camel_case_double_underscore

dotnet_naming_rule.private_types_should_be_pascal_case_double_underscore.severity = suggestion
dotnet_naming_rule.private_types_should_be_pascal_case_double_underscore.symbols = private_types
dotnet_naming_rule.private_types_should_be_pascal_case_double_underscore.style = pascal_case_double_underscore

dotnet_naming_rule.protected_data_members_should_be_pascal_case_underscore.severity = suggestion
dotnet_naming_rule.protected_data_members_should_be_pascal_case_underscore.symbols = protected_data_members
dotnet_naming_rule.protected_data_members_should_be_pascal_case_underscore.style = camel_case_underscore

dotnet_naming_rule.protected_types_should_be_pascal_case_double_underscore.severity = suggestion
dotnet_naming_rule.protected_types_should_be_pascal_case_double_underscore.symbols = protected_types
dotnet_naming_rule.protected_types_should_be_pascal_case_double_underscore.style = pascal_case_underscore

dotnet_naming_rule.internal_members_should_be_pascal_case_double_underscore.severity = suggestion
dotnet_naming_rule.internal_members_should_be_pascal_case_double_underscore.symbols = internal_members
dotnet_naming_rule.internal_members_should_be_pascal_case_double_underscore.style = trail_double_underscore

dotnet_naming_rule.const_data_members_should_be_upper_case.severity = suggestion
dotnet_naming_rule.const_data_members_should_be_upper_case.symbols = const_data_members
dotnet_naming_rule.const_data_members_should_be_upper_case.style = upper_case

# Symbol specifications

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.interface.required_modifiers =

dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.types.required_modifiers =

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, internal, protected, protected_internal
dotnet_naming_symbols.non_field_members.required_modifiers =

dotnet_naming_symbols.private_data_members.applicable_kinds = field, property, event
dotnet_naming_symbols.private_data_members.applicable_accessibilities = private
dotnet_naming_symbols.private_data_members.required_modifiers =

dotnet_naming_symbols.private_types.applicable_kinds = class, struct, interface
dotnet_naming_symbols.private_types.applicable_accessibilities = private
dotnet_naming_symbols.private_types.required_modifiers =

dotnet_naming_symbols.protected_data_members.applicable_kinds = field, property, event
dotnet_naming_symbols.protected_data_members.applicable_accessibilities = protected
dotnet_naming_symbols.protected_data_members.required_modifiers =

dotnet_naming_symbols.protected_types.applicable_kinds = class, struct, interface
dotnet_naming_symbols.protected_types.applicable_accessibilities = protected
dotnet_naming_symbols.protected_types.required_modifiers =

dotnet_naming_symbols.internal_members.applicable_kinds = class, struct, interface, field, property, event, method
dotnet_naming_symbols.internal_members.applicable_accessibilities = internal, protected_internal
dotnet_naming_symbols.internal_members.required_modifiers =

dotnet_naming_symbols.const_data_members.applicable_kinds = field, event
dotnet_naming_symbols.const_data_members.applicable_accessibilities = *
dotnet_naming_symbols.const_data_members.required_modifiers = const

# Naming styles

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.required_suffix =
dotnet_naming_style.begins_with_i.word_separator =
dotnet_naming_style.begins_with_i.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix =
dotnet_naming_style.pascal_case.required_suffix =
dotnet_naming_style.pascal_case.word_separator =
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.camel_case_underscore.required_prefix = _
dotnet_naming_style.camel_case_underscore.required_suffix =
dotnet_naming_style.camel_case_underscore.word_separator = _
dotnet_naming_style.camel_case_underscore.capitalization = camel_case

dotnet_naming_style.camel_case_double_underscore.required_prefix = __
dotnet_naming_style.camel_case_double_underscore.required_suffix =
dotnet_naming_style.camel_case_double_underscore.word_separator =
dotnet_naming_style.camel_case_double_underscore.capitalization = camel_case

dotnet_naming_style.pascal_case_underscore.required_prefix = _
dotnet_naming_style.pascal_case_underscore.required_suffix =
dotnet_naming_style.pascal_case_underscore.word_separator =
dotnet_naming_style.pascal_case_underscore.capitalization = pascal_case

dotnet_naming_style.pascal_case_double_underscore.required_prefix = __
dotnet_naming_style.pascal_case_double_underscore.required_suffix =
dotnet_naming_style.pascal_case_double_underscore.word_separator =
dotnet_naming_style.pascal_case_double_underscore.capitalization = pascal_case

dotnet_naming_style.trail_double_underscore.required_prefix =
dotnet_naming_style.trail_double_underscore.required_suffix = __
dotnet_naming_style.trail_double_underscore.word_separator =
dotnet_naming_style.trail_double_underscore.capitalization =

dotnet_naming_style.upper_case.required_prefix =
dotnet_naming_style.upper_case.required_suffix =
dotnet_naming_style.upper_case.word_separator = _
dotnet_naming_style.upper_case.capitalization = all_upper


#### Diagnostic Mode ####

dotnet_diagnostic.IDE1006.severity = warning
